<section class="contact text-center">
    <div class="section-header text-center mt-5 mb-5">
        <h1>Contact</h1>
        <span class="line"></span>
    </div>
    <div class="contact-form">
        <form class="w-50 mx-auto">
            <div class="mb-3">
              <input type="text" placeholder="First name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <input type="text" placeholder="Last name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <input type="text" placeholder="Email" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-floating">
                <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Comments</label>
            </div>
            <button type="submit" class="btn btn-warning my-4">Submit</button>
          </form>
    </div>
</section>