h1 {
    color: white;
}

.contact-form form{
  padding: 20px;
  color: white;
  border-radius: 20px;
  border: 3px solid var(--primaryColor);
}
label{
    color: white;
}

.form-control{
    background-color: black !important;
    color: white;
    border: 1px solid rgb(92, 91, 91);
    
}
.form-control::placeholder{
    color: var(--textColor2);
    
}
.form-control:focus{
   outline: none;
   box-shadow: none;
}
