<section>
    <div class="container w-75 Title">
        <div class="section-header text-center mt-5 mb-5">
            <h1>About us</h1>
            <span class="line"></span>
        </div>
        <div class="about-info">
            <p>
                Welcome to <span style="color: white;">Movies</span><span style="color: var(--primaryColor);">App</span> — your ultimate destination for discovering and enjoying movies.  
                We bring you the latest and top-rated films from around the world, all in one place. 
                With a clean and easy-to-use interface, finding your next favorite movie is just a click away.Search by genre, rating, or keywords and get detailed insights on every title.
                From cast and crew to trailers and reviews, we've got it all covered.
                We use data powered by The Movie Database (TMDB) to keep our content fresh and reliable.
                Whether you're a casual viewer or a movie buff, there's something here for everyone.
                Our mission is to make movie discovery fun, accessible, and personalized.
                Built by passionate developers to enhance your movie experience.
                Sit back, relax, and let Movie App be your guide to the world of cinema.
            </p>
         </div>
    </div>
</section>