.card {
    background-color: var(--backgroundColor);
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
.card:hover {
    transform: scale(1.02);
    border: 1px solid var(--primaryColor);
}

h5 , h4 , h3 , h2 , h1{
    color: var(--textColor);
}

p{
    color: var(--textColor2);
}

